name: Docker Build

on:
  schedule:
    - cron: "0 0 * * *" # Run daily at midnight
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - run: df -h
      - name: "node-cleanup"
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
          sudo docker builder prune -a
          
      - run: df -h
      
      - name: Set lower case owner name
        run: |
          echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
        env:
          OWNER: ${{ github.repository_owner }}

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx_setup
        run: |
          docker buildx create --use --name mybuilder
          echo "BUILDER_NAME=mybuilder" >> $GITHUB_ENV

      - name: Build and push Docker image
        if: steps.version_check.outputs.VERSION_EXISTS == 'false'
        uses: docker/build-push-action@v5.3.0
        with:
          context: .
          push: true
          builder: ${{ env.BUILDER_NAME }}
          platforms: linux/amd64
          build-args: |
            PYTAG=cp311
            TORCH_MAJOR=2.6
            WHEEL_PLAT=linux_x86_64
          tags: |
            ghcr.io/${{ env.OWNER_LC }}/comfyui-nunchaku:latest
            ghcr.io/${{ env.OWNER_LC }}/comfyui-nunchaku:${{ steps.comfyui_hash.outputs.COMFYUI_HASH }}
